{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__title">
                    {% if imagenBlog_1 %}
                        {% for a in imagenBlog_1 %}
                            <h6>{{ a.seccion }} <span> {{ a.date }}</span></h6>
                            <h2>{{ a.title }}</h2>
                            <div class="blog__details__social">
                                <a href="#" class="facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                                <a href="#" class="pinterest"><i class="fa fa-pinterest"></i> Pinterest</a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                                <a href="#" class="twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__details__pic">
                            <img src="{{ a.image.url }}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="blog__details__content">
                            <div class="blog__details__text">
                                <p>{{ a.content }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            <div class="blog__details__item__text">
                <h4>Tobio-Nishinoya showdown:</h4>
                <img src="{% static 'img/blog/details/bd-item-1.jpg' %}" alt="">
                <p>En Japón, la idea de que un estudiante de primer año le hable a un estudiante de último año 
                como Kageyama le hizo a Asahi es mucho más impactante de lo que sería en Occidente, pero 
                Tobio llamando a sus compañeros de equipo de manera genuinamente grosera en medio de un 
                partido es lo que consiguió. él aislado en primer lugar. Es mejor para los Cuervos resolver esto
                en los partidos de práctica que en el trato real, pero esto realmente depende de Tobio: tiene que 
                descubrir cómo coexistir con otros en un entorno de equipo.</p>
            </div>

            <div class="blog__details__tags">
                <a href="#">Healthfood</a>
                <a href="#">Sport</a>
                <a href="#">Game</a>
            </div>

            <div class="blog__details__comment">
                <h4>3 Comments</h4>
                <div class="blog__details__comment__item">
                    <div class="blog__details__comment__item__pic">
                        <img src="{% static 'img/blog/details/comment-1.png' %}" alt="">
                    </div>
                    <div class="blog__details__comment__item__text">
                        <span>Sep 08, 2020</span>
                        <h5>John Smith</h5>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius modi</p>
                        <a href="#">Like</a>
                        <a href="#">Reply</a>
                    </div>
                </div>
            </div>
            
            <div class="blog__details__form">
                <h4>Leave A Comment</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}